header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}

.seccionUsuarios{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
}

.cardUsuario{
    padding-left: 8px;
    padding-right: 8px;
}

.relacionInfo{
    justify-content: center;
    align-items: center;

}
.mostrarInfoRelacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botonInfo{
    margin-left: 3px;
    margin-bottom: 3px;
}